@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  height: 100vh;
  margin: 0;
}